/* Disabling some Semantic UI defaults */
/* *, :after, :before {
  box-sizing:content-box;
} */


/* #root-container h1,
#root-container h2,
#root-container h3,
#root-container h4,
#root-container h5,
#root-container h6
{
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen';
} */

@media (max-width: 800px) {
  #root-container {
    flex-direction: column;
  }
  #note-sidebar {
    min-height: 200px;
    max-height: 200px;
  }
}

@media (min-width: 801px) {
  #root-container {
    flex-direction: row;
  }
  #note-sidebar {
    min-width: 250px;
    max-width: 250px;
  }
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#header {
  height: 50px;
}

#root-container {
  display: flex;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
}



.flexItem {
  flex-grow: 1;
}

#note-editor {
  flex-grow: 1;
  overflow: hidden;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#note-editor-padding {
  /* max-width: 800px; */
  flex-grow: 1;
}

/* .toastui-editor-toolbar, */
/* .toastui-editor-mode-switch,
.toastui-editor-md-tab-container,*/
/* .toastui-editor-defaultUI-toolbar */
.toastui-editor-tabs
{
  width: 0;
  visibility: hidden !important;
}

#note-editor .toastui-editor-defaultUI {
  /* border: none; */
  justify-content: center;
}

#note-sidebar {
  background-color: rgb(50,50,50);
  overflow: scroll;
  font-family: 'Open Sans';
}

div:has(div.toastui-editor-defaultUI) {
  min-height: 100%;
  max-height: 100%;
  flex-grow: 1;
  background-color: red;
}

#notelistContainer {
  color: #EEE;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 12px;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen';
}


.backlinks {
  border-left: 1px solid gray;
  padding-left: 10px;
  margin-bottom: 30px;
}


#notelistContainer h2 {
  font-size: 25px;
  padding: 0;
  margin-bottom: 8px;
  color: #EEE;
}

#note-sidebar a {
  color: #EEE;
  font-weight: bold;
  text-decoration: none;
}

.backlink {
  padding-right: 10px;
  padding-bottom: 10px;
}

.backlink:last-child {
  padding-bottom: 3px;
}

.toastui-editor-contents {
  font-size: 15px;
}

#note-editor .ProseMirror {
  font-size: 16px;
  font-weight: 500;
}

button {
  background-color: transparent;
  border: none;
}

.react-icons {
  font-size: 30px;
  color: #555;
  padding: 10px
}

.defaultEditorContainer {
  flex: 1;
  flex-grow: 1;
  overflow: hidden;

  flex-direction: row;
}

#note-editor .toastui-editor-defaultUI {
  flex-direction: column;
  justify-content: flex-start;
}

#note-editor .toastui-editor-main {
  max-width: 800px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


/* The ideal would be to move the scrollbar to
   righ border, but I'm not a front end person lol
 */
#note-editor .toastui-editor-main {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#note-editor .toastui-editor-main::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

::-webkit-scrollbar {
  display: none;
}

/* .toastui-editor-defaultUI-toolbar { */
  /* justify-content: center; */
/* } */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  top: -6px;
  z-index: 1;
  margin: 0;
}

.dropdown:hover .dropdown-content
/* .dropdown .dropdown-content:hover */
{
  display: block;
}

.search-dropdown .dropdown-content {
  color: black;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);;
  min-width: 300px;
  min-height: 100px;
  padding: 10px;
  font-size: 18px;
}

.search-dropdown .search-item {
  margin-bottom: 5px;
  font-weight: 400;
  /* text-decoration: underline; */
}

#top-bar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

#top-bar a {
  color: gray;
  /* padding-bottom: 5px; */
  margin-bottom: 8px;
  margin-right: 10px;
  font-size: 15px;
}

#search-container {
  display: flex;
}
#search-container svg {
  box-sizing: content-box;
}
.tag-field {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 120px;
  margin-bottom: 6px;
}

.search-bar {
  min-width: 200px;
  max-width: 80%;
  margin-top: 6px;
}

.search-bar-tags {
  font-size: 12px;
  color: gray;
}

#top-bar {
  display: flex;
  flex-direction: row;
}

#notelistContainer .wikilinks,
#notelistContainer .wikilinks a
 {
  color: #EEE;
  font-size: 14px;
  padding-top: 2px;
  font-style: italic;
  font-weight: 350;
  display: inline-block;
}

#notelistContainer .wikilinks a {
  margin-right: 3px;
}
#notelistContainer .tags {
  font-size: 15px;
}

#notelistContainer .title {
  font-size: 16px;
}

#notelistContainer .note-title {
  font-size: 18px;
}

#notelistContainer h2 {
  font-size: 18px;
}

#note-sidebar .tag-container a {
  font-weight: 400;
  /* font-style: italic; */
}

#note-sidebar .tag a {
  font-weight: 350;
  font-style: italic;
  font-size: 15px;
  display: block;
  min-width: 140px;
}


#note-sidebar a:hover {
  text-decoration: underline;
}


#top-bar .note-title {
  flex-grow: 1;
  color: #4d4d4d;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 7px;
  padding-left: 21px;
}

#note-editor a {
  color: #747474cf;
  text-decoration: none;
}

#note-editor a:hover {
  text-decoration: underline;
}